<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Appointment</title>
</head>
<body>
<h2>Appointment</h2>


<table class="table table-striped-columns w-100 align-middle">
    <thead>
    <tr class="align-top">
        <th> Id</th>
        <th> Date</th>
        <th> First name</th>
        <th> Last name</th>
        <th> Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointment}">
        <td class="appointmentId" th:text="${appointment.id}"></td>
        <td th:text="${#temporals.format(appointment.date, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${appointment.patient.firstName}"></td>
        <td th:text="${appointment.patient.lastName}"></td>
        <td th:text="${appointment.patient.age}"></td>
    </tr>
    </tbody>

</table>
<div class="table table-striped-columns w-100 align-middle">
    <br/>
    <div>
        <form th:object="${appointment}" th:action="@{|/appointment/details/${appointment.id}|}" method="post">

            <div>
                <label class="form-label" for="note">Note:</label>
                <input class="form-control input-lg" type="text" id="note" th:field="*{note}"/>
            </div>
            <div>
                <label class="form-label" for="diagnostic">Diagnostic:</label>
                <input class="form-control" type="text" id="diagnostic" th:field="*{diagnostic}"/>
            </div>
            <div>
                <label class="form-label" for="treatment">Treatment:</label>
                <textarea class="form-control input-lg" rows="3" type="text" id="treatment" th:field="*{treatment}"></textarea>
            </div>
            <div>
                <input type="reset" value="Reset" class="btn btn-danger"/>
                <input type="submit" value="Submit" class="btn btn-success"/>
            </div>
            <div th:if="${#fields.hasAnyErrors()}">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<p></p>

<button class="btn btn-primary" onclick="window.location.href='/appointment/findAllByUserName';">Go Back</button>
<p></p>
<button class="btn btn-secondary" onclick="window.location.href='/dashboard';">
    Main Menu
</button>
<p></p>
<button class="btn btn-secondary" onclick="window.location.href='/logout';">
    Sign out
</button>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>