<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Doctors by specialisations list</title>
</head>
<body>
<div class="w-100 mx-auto content-between-l">

  <h2 th:if="${doctors.isEmpty()}">Doctors By Specialisation List </h2>
  <h2 th:unless="${doctors.isEmpty()}" th:text="'Doctors by specialisation id and name: ' + ${doctors[0].specialisation.id} + ' - ' + ${doctors[0].specialisation.name}"></h2>

  <table class="table table-striped-columns w-100 align-middle">
    <thead>
    <tr class="align-top">
      <th> Doctor Id</th>
      <th> Doctor Name</th>
      <th> Delete doctor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${doctors.isEmpty()}">
      <td colspan="2"> No doctors in this specialisation yet</td>
    </tr>
    <tr th:each="doctor : ${doctors}">
      <td>
        <form action="#" class="doctorId" th:action="@{/mvc/doctor/viewDoctorProfile/} + ${{doctor.id}}" method="get">
          <button class="btn btn-success" th:text="${doctor.id}" th:value="${doctor.id}"
                  type="submit">
            <i>details</i>
          </button>
        </form>
      </td>
      <td><span th:text="${doctor.name}"> Doctor Name </span></td>
      <td>
        <button class="delete-doctor-button"> Delete doctor</button>
      </td>
    </tr>
    <tr>
      <td>
        <form action="#" th:action="@{/mvc/doctor/createDoctor/} + ${{doctors[0].specialisation.id}}"
              method="get">
          <button class="btn btn-danger" type="submit">
            <i>Create new doctor</i>
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <p></p>

  <script>
   const deleteButtons = document.querySelectorAll('.delete-doctor-button');
    deleteButtons.forEach(function(deleteButton) {
        deleteButton.addEventListener("click", function() {
            if (confirm("By doing this, all appointments related to the doctor will be deleted as well. Are you sure you want to delete this doctor?")) {
                const doctorId = this.parentNode.parentNode.querySelector(".doctorId").textContent;
                fetch('/mvc/doctor/' + doctorId, {
                    method: 'DELETE'
                }).then(function(response) {
                    if (response.ok) {
                        alert("Doctor deleted successfully");
                        location.reload(); // Reload the page to update the table
                    } else {
                        alert("Error deleting doctor");
                    }
                });
            }
        });
    });

    </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>

  <button class="btn btn-primary" onclick="window.location.href='/specialisation/viewAll';">Go Back</button>
  <p></p>
  <button class="btn btn-secondary" onclick="window.location.href='/dashboard';">
    Main Menu
  </button>
  <p></p>
  <button class="btn btn-secondary" onclick="window.location.href='/logout';">
    Sign out
  </button>
</div>
</body>
</html>