<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Hospital manager</title>
</head>
<body>
<div></div>

<h2 th:if="${isAdmin}" >Admin dashboard</h2>
<h2 th:if="${isDoctor}" >Doctor dashboard</h2>
<h2 th:if="${isPatient}" >Patient dashboard</h2>


<button  th:if="${isPatient}" onclick="window.location.href='/appointment/findAllByPatient';">
  View my appointments
</button>

<button  th:if="${isPatient}" onclick="window.location.href='/appointment/create';">
  Create an appointment
</button>

<button  th:if="${isAdmin}" onclick="window.location.href='/mvc/admin/createDoctor';">
  Create a doctor
</button>

<button  th:if="${isAdmin}" onclick="window.location.href='/mvc/doctor/viewAll';">
  View all doctors
</button>




</body>
</html>
