<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Doctor Profile</title>
</head>
<body>
<div class="w-100 mx-auto content-between-l">
  <h2> Doctor Profile</h2>

  <table class="table table-striped-columns w-100 align-middle">
    <thead>
    <tr class="align-top">
      <th> Doctor Id</th>
      <th> Doctor Name</th>
      <th> Specialisation</th>
    </tr>
    </thead>
    <tbody>
    <td><span th:text="${doctor.id}"> Doctor Id </span></td>
    <td><span th:text="${doctor.name}"> Doctor Name </span></td>
    <td><span th:text="${doctor.specialisation.name}"> Specialisation </span></td>

    </tbody>
  </table>

  <p></p>

  <button class="btn btn-primary" onclick="history.back()">Go Back</button>

  <p></p>

  <button class="btn btn-secondary" onclick="window.location.href='/dashboard';">
    Main Menu
  </button>

  <p></p>

  <button class="btn btn-secondary" onclick="window.location.href='/logout';">
    Sign out
  </button>
</div>
</body>
</html>