<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Doctors by specialisations list</title>
</head>
<body>
<div class="w-100 mx-auto content-between-l">
  <h2> Doctors by specialisations list</h2>

  <!--<table border="1" class="table table-striped">-->

  <table class="table table-striped-columns w-100">
    <thead>
    <tr>
      <th> Doctor Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${doctors.isEmpty()}">
      <td colspan="2"> No doctors in this specialisation yet</td>
    </tr>
    <tr th:each="doctor : ${doctors}">
      <td>
        <form action="#" th:action="@{/mvc/doctor/viewDoctorProfile/} + ${{doctor.id}}" method="get">
          <button class="btn btn-success" th:text="${doctor.name}" th:value="${doctor.name}"
                  type="submit">
            <i>details</i>
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

  <p></p>

  <button class="btn btn-primary" onclick="window.location.href='/specialisation/viewAll';">Go Back</button>
  <p></p>
  <button class="btn btn-secondary" onclick="window.location.href='/dashboard';">
    Main Menu
  </button>
  <p></p>
  <button class="btn btn-secondary" onclick="window.location.href='/logout';">
    Sign out
  </button>
</div>
</body>
</html>
